<tr>
  <td>
    <%= index_for word_counter, @words.current_page, Settings.per_page %>
  </td>
  <td class="col-md-6"><%= word.category_name %></td>
  <td class="col-md-2"><%= word.content %></td>
  <td class="col-md-1">
    <%= link_to "", admin_word_path(word), class: "btn fa fa-eye fa-lg" %>
  </td>
  <td class="col-md-1">
    <%= link_to "", edit_admin_word_path(word),
      class: "btn fa fa-pencil-square fa-lg" %>
  </td>
  <td>
    <%= link_to "", admin_word_path(word), method: :delete,
      data: {confirm: t(".confirm")}, class: "btn fa fa-trash fa-lg" %>
  </td>
</tr>
