<tr>
  <td>
    <%= index_for word_counter, @words.current_page, Settings.per_page %>
  </td>
  <td class="col-md-6"><%= word.category_name %></td>
  <td class="col-md-2"><%= word.content %></td>
  <td class="col-md-1">
    <%= link_to t(".edit"), edit_admin_word_path(word), class: "btn btn-info" %>
  </td>
  <td>
    <%= link_to t(".delete"), admin_word_path(word), method: :delete,
      data: {confirm: t(".confirm")}, class: "btn btn-danger" %>
  </td>
</tr>
