<table class="table round-table round-table-rounded">
  <tr>
    <th><%= t ".index" %></th>
    <th><%= t ".lesson" %></th>
    <th><%= t ".cate_name" %></th>
    <th><%= t ".mark" %></th>
    <th><%= t ".status" %></th>
  </tr>
  <tbody>
    <%= render @lessons %>
  </tbody>
</table>
<%= will_paginate @lessons, param_name: "lesson_page" %>
