<% provide :title, t(".all") %>
<h1><%= t (".all") %></h1>
<aside class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag users_path, method: :get do %>
      <%= render "shared/search_user" %>
    <% end %>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-striped">
      <thead>
        <th><%= t ".avatar" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
      <%= will_paginate @users %>
    </table>
  </div>
</aside>
