<% provide :title, t(".all") %>
<aside class="behind row">
  <h1><%= t (".all") %></h1>
  <div class="col-md-10 col-md-offset-1">
    <%= form_tag users_path, method: :get do %>
      <%= render "shared/search_user" %>
    <% end %>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <table class="table round-table round-table-rounded">
      <thead>
        <th><%= t ".index" %></th>
        <th><%= t ".avatar" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
        <% if current_user.is_admin? %>
          <th><%= t ".delete" %></th>
        <% end %>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
    <%= will_paginate @users %>
  </div>
</aside>
