<% provide :title, t(".all") %>
<h1><%= t (".all") %></h1>
<div>
  <%= form_tag users_path, method: :get do %>
    <%= render "shared/search_user" %>
  <% end %>
</div>
<aside class="col-md-4">
  <div>
    <table class="table table-striped">
      <thead>
        <th><%= t ".avatar" %></th>
        <th><%= t ".name" %></th>
        <th><%= t ".email" %></th>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
      <%= will_paginate @users %>
    </table>
  </div>
</aside>
