<% provide :title, @user.user_name %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render "shared/user_info" %>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render "follow_form" if logged_in? %>
  <div class="col-md-6">
    <h3><%= t ".activities" %></h3>
    <ul>
      <%= render @activities.recent %>
    </ul>
    <%= will_paginate @activities, param_name: "activities_page" %>
  </div>
  <% unless current_user.is_admin? %>
    <div class="col-md-6">
      <%= t ".lesson" %>
      <%= render "lessons" %>
    </div>
  <% end %>
</div>
