<% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_path @user %>">
    <strong id="following" class="stat">
      <%= @user.following.size %>
    </strong>
    <%= t ".following" %>
  </a>
  <a href="<%= follower_path @user %>">
    <strong id="followers" class="stat">
      <%= @user.followers.size %>
    </strong>
    <%= t ".follower" %>
  </a>
</div>
