<% provide :title, t(".review") %>
<div>
  <div>
    <label><%= t ".cate_name" %>:</label>
    <%= @lesson.category.name %>
  </div>
  <div>
    <label><%= t ".created_at" %></label>
    <%= @lesson.created_at.strftime(Settings.date_time) %>
  </div>
</div>
<h1><%= t ".exam" %></h1>
<div>
  <label><%= t ".mark" %></label>
  <span class="show_score">
    <%= @lesson.number_correct_answer.to_s + " / " + @lesson.results.size.to_s %>
  </span>
</div>
<ol>
  <%= form_for @lesson do |f| %>
    <%= f.fields_for :results do |result| %>
      <%= render "question", f: result %>
    <% end %>
    <div class="col-md-2">
      <%= f.submit t(".save_btn"), class: "btn btn-primary",
        disabled: @lesson.is_complete? %>
    </div>
  <% end %>
</ol>
