<li>
  <i class="timeline-date">
    <%= activity.created_at.strftime(Settings.date_format) %>
  </i>
  <div class="timeline-content">
    <h4><%= target_object activity %></h3>
    <p>
      <%= user_activity activity %>
      <%= activity_description activity %>
      <%= time_ago_in_words activity.created_at.strftime(Settings.hours) %>
      <%= t ".ago" %>
    </p>
  </div>
</li>
